# Default ignored files
### Java template
*.class

# Package Files #
*.jar
*.war
*.ear

### macOS template
*.DS_Store
.AppleDouble
.LSOverride

# IntelliJ project files
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml

# Compliled files
/target/
**/target

/example/

# Gradle
.gradle
/build/
.gradletasknamecache

#EgovFramework
.classpath
.bin
/bin/
.settings/
.classpath
.project
*.class
